
.parentContainer {
}

.parentView {
    margin: 10px;
    padding: 25px;
    border-style: solid;
    border-width: 2px;
    border-color:#ADBCA5;
    border-radius: 10px;
}



.childrenView {
    margin: 10px;
    padding: 25px;
    border-style: solid;
    border-width: 2px;
    border-color:#E8B9AB;
    border-radius: 10px;
}



.elderView {
	margin: 15px;
	border-style: solid;
    border-width: 2px;
    border-color:#CB769E;
    border-radius: 20px;
}

.elderValueView {
    margin: 25px;
    padding: 25px;
    border-style: solid;
    border-width: 2px;
    border-color:#8C5F66;
    border-radius: 10px;
}


.elderSearchContainer{
	padding: 5px;
}

.displayImage {
	margin: 10px;
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.displayImageChild {
	margin: 10px;
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchView {
	padding: 5px;
	border-style: solid;
    border-width: 2px;
    border-color:#8C5F66;
    border-radius: 20px;
    height: 50px;
    margin: 10px;
}

#searchForm {
    text-align: center;
    vertical-align: middle;    
}
/*
ADBCA5
E8B9AB
E09891
CB769E
8C5F66
*/